* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000;
  position: relative;
  color:rgb(189, 60, 156)

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 2px;
  font-family: cursive;
  font-family: 'Lucida Sans Unicode', sans-serif;
  color:white;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #f7f7f7;
  color:rgb(189, 60, 156) ;
}

.imagem {
  width: 30vw; /* 30% da largura da tela */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.imagem img {
  width: 100%;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #ddd;
  padding: 10px 0;
  color: #000000;
  font-family: Verdana;
}
@media (max-width: 1200px) {
  .imagem {
    height: auto; /* Permite ajuste dinâmico */
    width: 50vw; /* Aumenta a visibilidade */
    position: fixed; /* Mantém a imagem sobre os outros elementos */
    top: 10px; /* Ajusta a posição */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste fino para centralizar */
    z-index: 1000; /* Garante que a imagem fique sobre os demais elementos */
  }
}
